[Unit]
Description=UD-CO2S logger
After=syslog.target

[Service]
EnvironmentFile=/home/sksat/prog/ud-co2s-logger/env.sh

ExecStart=/home/sksat/prog/ud-co2s-logger/ud-co2s-logger
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
